<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Muster Roll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/geofence']" expand="block" fill="clear" shape="round" >
    Geofence
  </ion-button>
  <ion-button [routerLink]="['/leave']" expand="block" fill="clear" shape="round">
    Leave
  </ion-button>
  <ion-button [routerLink]="['/report']" expand="block" fill="clear" shape="round">
    Report
  </ion-button>
  <ion-button [routerLink]="['/add-fingerprint']" expand="block" fill="clear" shape="round">
    Add fingerprint
  </ion-button>
  <ion-button [routerLink]="['/verify-fingerprint']" expand="block" fill="clear" shape="round">
    Verify fingerprint
  </ion-button>
  <ion-button [routerLink]="['/add-face']" expand="block" fill="clear" shape="round">
    Add face
  </ion-button>
  <ion-button [routerLink]="['/verify-face']" expand="block" fill="clear" shape="round">
    Verify face
  </ion-button>
  <ion-button [routerLink]="['/take-attendance']" expand="block" fill="clear" shape="round">
    Take attendance
  </ion-button>
  <ion-button [routerLink]="['/attendees']" expand="block" fill="clear" shape="round">
    Attendees
  </ion-button>
</ion-content>
