<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Take attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input type="text" placeholder="In"></ion-input>
        </ion-item></ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input type="text" placeholder="Out"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
            <ion-label>Duration: </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
